<?xml version="1.0" encoding="UTF-8"?>
<plugin>
        <name>
                <lang name="default">phpBB</lang>
                <lang name="russian">Интеграция с phpBB</lang>
        </name>
        <author>
                <lang name="default">135</lang>
        </author>
        <homepage>http://4x4krasnodar.ru/</homepage>
        <version>develop</version>
        <requires>
                <alto>1.0.x</alto>
        </requires>
        <description>
                <lang name="default">Integrate Alto with phpBB</lang>
                <lang name="russian">Интеграция phpBB и Alto CMS</lang>
        </description>
</plugin>